/* card */
.cat-card {
  width: 216px;
  height: 180px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

/* ------------ HOVER ------------ */
.cat-card:hover {
  border: 1px solid #ffb449;
  box-shadow: 0 0 18px rgba(255, 180, 73, 0.4);
}

/* ------------ ACTIVE STATE ------------ */
.category-card--active {
  background: rgba(255, 180, 73, 0.15);
  border: 1.5px solid #ffb449;
  box-shadow: 0 0 22px rgba(255, 180, 73, 0.55);
}

.icon-and-counter-box {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

/* title */
.cat-title {
  font-size: 1.1rem;
  font-weight: 500;
  height: 56px;
}

/* description */
.cat-description {
  font-size: 1rem;
  height: 38px;
  color: #808797;
}
