/* card */
.cat-card{
    width: 200px;
    height: 160px;
    background-color: #16191F;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

.icon-and-counter-box{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

/* icon */
.icon{

}

/* counter */
.counter{

}

/* title */
.cat-title{
    font-size: 1.2rem;
    height: 38px;
}

/* description */
.cat-description{
    font-size: 1rem;
    height: 38px;
    color:  #808797;
}