/* card */
.curiosities-card-container {
  width: 364px;
  height: 248px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.main-info {
  display: flex;
  column-gap: 8px;
  height: 76px;
}

/* icon */
.cc-icon {
  font-size: 1.7rem;
}

/* title */
.cc-title {
  font-size: 1.1rem;
  font-weight: 500;
}

/* description */
.cc-description {
  font-size: 1rem;
  height: 38px;
  color: #808797;
}

/* numbers */
.cc-total {
  height: 50px;
  color: #808797;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 6px;
  white-space: nowrap;
  overflow: hidden;
}

/* orange txt */
.txt-orange {
  color: #f6a823;
  text-shadow: 0 0 2px rgba(246, 168, 35, 0.8), 0 0 10px rgba(246, 168, 35, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
}

.cc-number {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffb33e;
  text-shadow: 0 0 8px rgba(255, 179, 62, 0.6);

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.cc-unit {
  font-size: 1rem;
  font-weight: 500;
  color: #ffcc80;
  opacity: 0.9;
}

.cc-total-suffix {
  font-weight: 600;
  margin-right: 4px;
}

/* RATE PER SECOND  +XX/sec */
.rate-per-second {
  font-size: 0.8rem;
  padding-top: 6px;
}

/*********** graph ***********/
.graph {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  border-radius: 8px;
}
