.hero-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    margin-top: 80px;
}

/* white title */
.white-txt {
    color: white;
    text-shadow: 
    0 0 8px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.4);
    font-size: 4rem;
    font-family: "Montserrat Alternates", sans-serif;
}

/* orange title */
.orange-txt {
    color: #F6A823;
     text-shadow:
    0 0 10px rgba(246, 168, 35, 0.8),
    0 0 20px rgba(246, 168, 35, 0.5),
    0 0 30px rgba(246, 168, 35, 0.3);
    font-size: 4rem;
    font-family: "Montserrat Alternates", sans-serif;
}

/* subtitle */
.hero-subtitle{
    color: #808797;
    font-weight: 300;
    font-size: 1.2rem;
}

/* txt "LIVE DATA" */
.hero-live-label{
    margin: 24px;
    font-weight: 200;
    font-size: 1rem;
    color: #d1d5db;
}


/* row with dot + text LIVE DATA */
.hero-live-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 28px;
  font-size: 12px;
  letter-spacing: 0.35em;
  text-transform: uppercase;  
}

/**************** live dot ****************/
.hero-live-dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: #F6A823;
  box-shadow: 0 0 10px rgba(246, 168, 35, 0.9);
  animation: hero-pulse 1.6s infinite ease-in-out;
}


@keyframes hero-pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
    box-shadow: 0 0 8px rgba(246, 168, 35, 0.7);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0 0 18px rgba(246, 168, 35, 1);
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
    box-shadow: 0 0 8px rgba(246, 168, 35, 0.7);
  }
}

.hero-live-label {
  font-weight: 500;
}
